@import '../../Variables.scss';

.explore {
  &-title {
    font-weight: 900;
    font-size: 40px;
    @include themed() {
    color: t("melist-title");
    }
  }

  &-heading {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-main {
    @include themed() {
    background-color: t("melist-muted-blue");
    } 
    border-radius: 10px;
    padding-top: 10px;
  }
}
