@import "../../Variables.scss";

.info{
  &-main {
    min-height: 500px;
    /**/
  }

  &-title {
    @include themed() {
      color: t("melist-title");
    }
    padding-top: 60px;
    font-weight: 900;
    font-size: 32px;
  }

  &-gift {
    padding-top: 60px;
    height: 350px;
    width: 525px;
  }

  &-subtitle {
    @include themed() {
      color: t("melist-title");
    }
    margin-top: 20px;
    font-size: 16px;
  }

  &-how-it-works {
    min-height: 600px;
    background-color: rgb(92, 218, 186);
    text-align: center;
    padding-top: 30px;
    color: #FFFFFF;

    &-title {
      text-align: center;
      font-weight: 900;
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  &-properties {
    min-height: 650px;
    border-top: 1px solid #ededed;
  }
}

.step {
  &-count {
    font-weight: 900;
    font-size: 18px;
    margin-top: 20px;
    height: 110px;
    @media only screen and (max-width: 600px) {
      height: 70px;
    }
  }

  &-description {
    font-size: 16px;
    font-weight: 300;
  }
}

.properties {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  @include themed() {
    color: t("melist-title");
  }

  &-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
  }

}

.start-button {
  margin-top: 20px;
}

a {
  color: #7273c5 !important;
}