@import "../../Variables.scss";

.list {
  &-heading {
    @include themed() {
    color: t("melist-title");
    }
    font-weight: 900;
    font-size: 50px;
  }

  &-title {
    margin-top: 35px;
  }

  &-description {
    @include themed() {
    color: t("melist-muted-text");
    }
    padding-bottom: 5px;
  }
}

.fav-icon {
  color: #FFD100;
}
