.hi-title,
.my-lists-heading,
.shared-lists-heading,
.favourites-heading {
  color: #6853B8;
  font-weight: 900;
}

.hi-title {
  font-size: 60px;
  background: linear-gradient(90deg, rgba(100, 242, 187, 1) 0%, rgba(155, 194, 252, 1) 73%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.hi-emoji {
  -webkit-text-fill-color: black;
}

.main {
  margin-top: 35px;
}

.my-lists, .favourite-lists, .shared-lists {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f0f0f0;
  padding-top: 15px;
  border-radius: 10px;
}

.new-list-button,
.search-lists-button {
  margin: 20px;
  background-color: #6853B8 !important;
  border-radius: 15px !important;
  font-size: 18px !important;
  font-weight: bolder !important;
}

.empty-state-text {
  color: #a7a7a7;
}