@import "../../Variables.scss";

.config {
  padding-top: 30px;
  background: $list-view-background;
  min-height: 800px;
}

.form-title {
  font-weight: 900;
  font-size: 32px;
  color: $melist-purple;
}