@import "../../Variables.scss";

.config {
  padding-top: 30px;
  @include themed() {
    background: t("list-view-background");
    color: t("melist-primary-text");
  }
  min-height: 500px;
}

.form-title {
  font-weight: 900;
  font-size: 32px;
  @include themed() {
    color: t("melist-title");
  }
} 