@import "../../Variables.scss";

@include themed() {
  .empty-state-box {
    text-align: center;
    color: t("melist-text");
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: t("melist-muted-text");
    font-weight: 900;
    font-size: 18px;
    border-radius: 10px;
  }

  .search-title {
    font-size: 32px;
  }
}