@import "../../Variables.scss";

.navbar {
  @include themed() {
    background: t("melist-navbar-background");
    color: t("melist-navbar-text");
  }
}

#basic-nav-dropdown {
  @include themed() {
    color: t("melist-navbar-text") !important;
  }
  font-weight: 900;
  padding: 0 !important;
  padding-top: 6px !important;
}

.title {
  @include themed() {
  color: t("melist-navbar-text");
  }
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
}

.login {
  @include themed() {
  color: t("melist-navbar-text");
  }

  &:hover {
    @include themed() {
    color: t("melist-muted-text")
    }
  }
}

.logo {
  width: 30px;
  height: 30px;
  margin-bottom: 12px;
}

.add-list-header {
  background-color: transparent !important;
  @include themed() {
    color: t("melist-navbar-link") !important;
  }
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  border-radius: 15px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  border: 0 !important;
}

.dropdown-header {
  color: black !important;
  font-weight: 900 !important;
}