.thumbnail {
  border-radius: 10px;
}

.item-data {
  text-align: center;
}

.item-data-price {
  color: #00AF5B;
  font-size: 16px;
  font-weight: 900;
}

.item-data-title {
  font-size: 14px;
}

.checked-pill {
  color: white;
  background: #00AF5B;
}