.thumbnail {
  object-fit: scale-down;

  &-div {
    border-radius: 10px;
    background-color: #FFFFFF;
  }
}

.item-data {
  text-align: center;

  &-title {
    font-size: 14px;
  }

  &-price {
    color: #00AF5B;
    font-size: 16px;
    font-weight: 900;
  }
}

.pill {
  color: #FFFFFF;

  &-not-active {
    background: #af0000;
  }

  &-checked {
    background: #00AF5B;
  }
}

.trash {
  color: #af0000;
  text-align: right;
}

.check {
  color: #00AF5B;
}