@import "../../Variables.scss";

.thumbnail {
  object-fit: scale-down;
  border-top: 0.5px solid rgba(128, 128, 128, 0.5);
  border-left: 0.5px solid rgba(128, 128, 128, 0.5);
  border-right: 0.5px solid rgba(128, 128, 128, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;


  &-div {
    border-radius: 10px;
    background-color: #FFFFFF;
  }
}

.item-data {
  text-align: center;

  &-title {
    font-size: 14px;
  }

  &-price {
    color: #00AF5B;
    font-size: 18px;
  }
}

.pill {
  color: #FFFFFF;

  &-not-active {
    background: #af0000;
  }

  &-checked {
    background: #00AF5B;
  }
}

.trash {
  font-size: 24px;
  padding-bottom: 5px;
  color: #af0000;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }
  border-top: 1.5px solid rgba(128, 128, 128, 0.5);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
  border-right: 1.5px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.5);
}

.check {
  font-size: 24px;
  padding-bottom: 5px;
  color: #00AF5B;
  text-align: center;
  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }
  border-right: 0.5px solid rgba(128, 128, 128, 0.5);
  border-top: 1.5px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.5);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
  border-left: 1.5px solid rgba(128, 128, 128, 0.5);
}

.actionable-buttons {
  width: 100%;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.ready {
  &:hover {
    cursor: pointer;
  }
}

.wait {
  &:hover {
    cursor: wait;
  }
}