.list-items-heading-title {
  color: #6853B8;
  font-weight: 900;
  font-size: 30px;
}

.list-items-heading {
  text-align: center;
  margin-bottom: 30px;
}

.list-items {
  padding-top: 30px;
  background: rgba(132, 220, 198, 0.1);
}