@import "../../Variables.scss";

.thumbnail {
  height: 10rem;
  width: 100%;
  border-radius: 10px;
}

.item-data {
  text-align: center;

  &-price {
    color: #00AF5B;
    font-size: 16px;
    font-weight: 900;
  }

  &-title {
    @include themed() {
      color: t("melist-primary-text");
    }
    margin-bottom: 0px;
    font-size: 14px;
  }

}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}