@import "../../Variables.scss";

.list-items {
  padding-top: 30px;
  min-height: 500px;
  @include themed() {
  background: t("list-view-background");
  }

  @include themed() {
    color: t("melist-primary-text");
  }

  &-heading {
    text-align: center;
    margin-bottom: 30px;

    &-title {
      @include themed() {
      color: t("melist-title");
      }
      font-weight: 900;
      font-size: 30px;
    }
  }
} 
