.item-img {
  max-height: 300px;
  object-fit: scale-down;

  &-carousel {
    height: 300px;
  }

  &-div {
    background-color: #FFFFFF;
  }
}

.price-stock-seller {
  text-align: center;
  padding-top: 125px;
}

.item-data-price-modal {
  color: #00AF5B;
  font-size: 28px;
  font-weight: 700;
}

.item-description {
  font-size: 14px;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 300px;
  overflow: scroll;
}

.meli-permalink-button {
  background-color: #FFD100 !important;
  border: #FFFFFF !important;
}

.button-msg {
  font-weight: 700;
  font-size: 24px;
}

.modal-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribute-table {
  margin-top: 40px;
  font-size: 14px;
  height: 400px;
  overflow: scroll;
}

.icon {
  height: 30px;
  width: 30px;

  &-prev {
    transform: rotate(180deg);
  }
}