@import "../../Variables.scss";

.list-card {
  margin-left: 10px;
  margin-right: 10px;

  border-radius: 10px;
  text-align: center;

  padding: 5px;
  height: 80px;

  padding-bottom: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

--tw-bg-opacity: 1;
background-color: rgba(129, 140, 248, var(--tw-bg-opacity));
}

.list-title {
  font-size: 16px;
  font-weight: 700;
  @include themed() {
  color: t("melist-text");
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-to-list,
.link-to-list:hover {
  text-decoration: none;
}
