@import "../../Variables.scss";

.notification {
  &-background {
    &-light {
      @include themed() {
        background-color: t("melist-notification-light");
        color: t("melist-primary-text");

      }
    }
    &-dark {
      @include themed() {
        color: t("melist-primary-text");
        background-color: t("melist-notification-dark");
      }
    }
  }
}


.unseen-dot {
  color: #4040e2;
  font-size: 30px;
}

.time-ago {
  @include themed() {
  color: t("melist-muted-text");
  }
}
