.notification {
  &-background {
    &-light {
      background-color: white !important;
    }
    &-dark {
      background-color: #66a1441c !important;
    }
  }
}

.unseen-dot {
  color: #4040e2;
  font-size: 30px;
}

.time-ago {
  color: #838383
}