@import "../../Variables.scss";

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.list-privacy,
.list-privacy:hover {
  @include themed() {
  color: t("melist-muted-text");
  }
  margin-top: 5px;
  margin-bottom: 15px;
}

.list-privacy-center,
.list-privacy-center:hover {
  text-align: center;
  @include themed() {
  color: t("melist-muted-text");
  }
  margin-top: 5px;
  margin-bottom: 15px;
}
