.share {
  padding-top: 30px;
  background: rgba(132, 220, 198, 0.1);
  min-height: 600px;
}

.search-users-title {
  font-weight: 900;
  font-size: 32px;
  color: #6853B8;
}

.info-bold {
  font-weight: 750;
}

.share-box {
  background-color: #6753b84d;
  margin-top: 30px;
  padding-top: 20px;
  height: 350px;
  border-radius: 10px;
}

.input-form-user {
  margin-top: 15px;
  font-size: 20px;
}

.share-type-radios {
  padding-top: 150px;
  font-size: 14px;
}

.revoke-button {
  margin-bottom: 10px;
}