@import "../../Variables.scss";

.share {
  padding-top: 30px;
  min-height: 500px;
  
  @include themed() {
  background: t("list-view-background");
  color: t("melist-primary-text");
  }
  min-height: 600px;

  &-box {
    @include themed() {
    background-color: t("melist-muted-blue");
    }
    margin-top: 30px;
    padding-top: 20px;
    height: 350px;
    border-radius: 10px;
  }
}

.search-users-title {
  font-weight: 900;
  font-size: 32px;
  @include themed() {
  color: t("melist-title");
  }
  @media only screen and (max-width: 480px) {
    font-size: 24px;
  }
}

.checkbox-title {
  font-size: 16px;
  font-weight: 700;

  @include themed() {
    color: t("melist-title");
  }

  @media only screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.info-bold {
  font-weight: 700;
}

.input-form-user {
  margin-top: 15px;
  font-size: 20px;
}

.share-type-radios {
  padding-top: 15px;
  @media only screen and (min-width: 620px) {
      padding-top: 105px;
  }
  font-size: 14px;
  margin: auto !important;
}

.revoke-button {
  margin-bottom: 10px;
}

.colabs {
  @media only screen and (max-width: 480px) {
    font-size: 16px;
  }

  &-type {
    @include themed() {
      color: t("melist-muted-text");
    }
  }
}

.type-save {
  text-align: center;
}