@import './Variables.scss';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.app {
  @include themed() {
    background-color: t("melist-background");
  }
  font-family: 'Poppins', sans-serif;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18rem;
}
