$themes: (
  light: (
    melist-background: #FFFFFF,
    muted-green: rgba(100, 242, 187, 0.10),
    list-view-background: rgba(132, 220, 198, 0.1),
    melist-title: #000000,
    melist-purple: #6853B8,
    melist-muted-text: #bebebe,
    melist-muted-blue: #FFFFFF,/* previous color: (rgba(104, 83, 184, 0.1),*/
    melist-text: #FFFFFF,
    melist-primary-text: #000000,
    melist-footer: #FFFFFF,
    melist-notification-light: #FFFFFF,
    melist-notification-dark: #66a1441c,
    melist-footer-text: #999999, /* previous color: rgba(144, 100, 238, 0.95) */
    melist-navbar-background: #fafafa,
    melist-navbar-text: #000000,
    melist-navbar-link: #6853B8,
  ),
  dark: (
    melist-background: rgb(20, 20, 20),
    muted-green: rgb(65, 192, 144),
    list-view-background: rgba(0, 0, 0, 1),
    melist-title: #FFFFFF,
    melist-purple: #6fbe7a,
    melist-muted-text: #bebebe,
    melist-muted-blue: rgb(20,20,20),
    melist-text: #FFFFFF,
    melist-primary-text: #FFFFFF,
    melist-footer: rgb(20,20,20),
    melist-notification-light: #7e7d7d80,
    melist-notification-dark: #52991f26,
    melist-footer-text: #999999,
    melist-navbar-background: #2f2f2f,
    melist-navbar-text: #FFFFFF,
    melist-navbar-link: rgb(65, 192, 144),
  )
);

@mixin themed() {

  @each $theme,
  $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key,
      $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}